html,
body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0 10px;
}

.accordion-heading {
  padding: 25px 0 25px 20px;
  background-color: #F7F7F7;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}

.accordion-content {
  padding: 10px 10px 10px 10px;
  border: 1px solid #DFDFDF;
}

.hide {
  display: none;
}

.visualHide {
  opacity: 0;
}
